.mdl-grid {
	max-width: 1280px;
	justify-content: center;
}

#personal-intro.mdl-card  {
	width: 350px;
} 

.mdl-card > .cv-photo {
	height: 450px;
	width: 350px;
	background: url("../06.jpg")center/cover;
}